html, body {
    margin: 0;
}

/*Cabezera*/

header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    position: fixed;
    background: white;
    z-index: 100000;
}

header iframe{
    width: 100%;
    margin: 0;
    padding: 0;
}

header #transmition{
    height: 36px;
}

header #menu {
    height: 64px;
    margin-top: -4px;
}
/*Imágenes de bienvenida*/

#welcome {
    margin-top: 100px   ;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.container {
    margin-bottom: -10px;
    padding: 0;
}
/*Eventos*/

#events-backgrounds {
    margin: 0;
    background-color:rgba(105, 104, 105, 1.00);
    overflow: auto;
}

#events {
    margin: 0;
    padding: 0;
    list-style: none;
}

#events-backgrounds h1{
    margin: 2.5%;
    color: white;
}

#events li{
    float: left;
    width: 20%;
    margin: 2.5%;
}

#events li .event-header{
    background-color: green;
    color: white;
    overflow: hidden;
    height: 200px;
    text-align: center;
}

#events li .full-event {
    margin-top: -16px;
    background-color: white;
}

#events img{
    max-width: 100%;
    height: 120px;
}

/*APP y Armando*/

/*
.app {
    text-align: left;
    float: left;
    height: 280px;
}

#app {
    overflow: hidden;
}

#image-app {
    width: 33%;
}

#image-app img{
    max-width: 100%;
}

#app-container {
    width: 33%;
}

#video {
    max-width: 33%;
}

#cmn-video-demo3__controls button {
    display: inline-block;
    margin: 0;
    padding: 5px 15px;
    background-color: tomato;
    color: #fff;
    font-family: "Roboto Slab", serif;
    font-size: 12px;
    outline: none;
    cursor: pointer;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#cmn-video-demo3__video{
    max-width: 100%;

}

#app-container p{
    margin-left: 6%;
}

#apps {
    margin-left: 6%;
}

#apps img {
    display: inline-block;
    width: 150px;
    margin: 2%;
}
*/
#armandito {
    background: url("../images/aam/back.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    min-width: 100%;
    height: 800px;
    background-position: -100px;
}

#armandito p{
    font:28px 'BankGothicBT Light';
    color:rgba(254,254,254,1.00);
}

#armandito #aam-logo-block {
    margin: 0;
    display: inline-block;
    margin-left: 10%;
    margin-top: 40px;
}

#armandito #aam-logo-block img{
    width: 325px;
    height: 180px;
}

#armandito #aam-armandito{
    display: inline-block;
    float: right;
    text-align: right;
}

/*Resúmenes*/
#highlights {
    padding-top: 40px;
    background: rgba(54, 102, 200, 1.00);
    width: 100%;
    overflow: auto;
    padding-bottom: 40px;
}

#biggest {
    display: inline-block;
    width: 45%;
    height: 450px;
    background: url("../images/top.jpg");
    margin-left: 5%;
    float: left;
    text-align: left;
}

#others {
    display: inline-block;
    width: 45%;
    margin-right: 5%;
    height: 450px;
    float: right;
    text-align: right;
}

.highlights{
    width: 45%;
    min-height: 230px;
    display: inline-block;
    background: url("../images/top.jpg");
}

footer {
    width: 100%;
}

footer iframe{
    width: 100%;
    height: 150px;
}

