<!DOCTYPE html>
<html lang="en" ng-app="starter">
<head>
    <meta charset="UTF-8">
    <title>Vida Nueva Para el Mundo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/effects.css">
    <meta name="viewport" content="width=device-width, initial-sclae=1.0">

</head>
<body>
    <header>
        <iframe id="transmition" scrolling="no" frameborder="0" src="iframes/transmition.html"></iframe>
        <iframe id="menu" scrolling="no" frameborder="0" src="iframes/menu.html"></iframe>
    </header>

    <section>
        <div class="container">
            <img src="images/top.jpg" id="welcome">
        </div>

        <div id="events-backgrounds" ng-controller="events">
            <h1>Eventos</h1>
            <ul id="events">
                <li ng-model="eventos" ng-repeat="event in eventos" ng-mouseover="showEvents = true"
                    ng-mouseleave="showEvents = false">
                    <a href="{{event.url}}">
                        <div class="event-header">
                            <!--<img src="images/events/{{event.img}}">-->
                            <p>{{event.name}}</p>
                            <p>{{event.place}}</p>
                            <p>{{event.date}}</p>
                        </div>
                        <div class="full-event" ng-show="showEvents">
                            <p>Conferencistas: {{event.speakers}}</p>
                            <p>Direccion: {{event.location}}</p>

                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <div id="armandito">
            <div id="aam-logo-block">
                <img id="aam-logo" src="images/aam/aam.png">
                <p>APASIONADOS POR LA VERDAD</p>
            </div>
            <img id="aam-armandito" src="images/aam/armando.png">
        </div>

        <div id="highlights">
            <div id="biggest">
                <p>Probando</p>
            </div>
            <div id="others">
                <div class="highlights"><p>Probando</p></div>
                <div class="highlights"><p>Probando</p></div>
                <div class="highlights"><p>Probando</p></div>
                <div class="highlights"><p>Probando</p></div>
            </div>
        </div>

        <div id="app-armando">

        </div>
    </section>

    <footer>
        <iframe scrolling="no" frameborder="0" src="iframes/footer.html"></iframe>
    </footer>

    <script src="js/angular/Factory.js"></script>
    <script src="js/angular/app.js"></script>
    <script src="js/jQuery/parallax.js"></script>
    <script src="js/jQuery/effects.js"></script>
</body>
</html>